body {
  font-family: sans-serif;
  /* background-color: #de9844; */
  background: linear-gradient(#744f19 10%, #e6ac65 11%);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* display: none and color: transparent work too */

input {
  opacity: 0;
}

.buttonLabel {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.1rem 0 0 0;
  border-radius: 10px;
  width: 50%;
  background-color: #8d1b07;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #e6ac65; */
}

.buttonLabel:hover {
  background-color: #a63110;
}

.buttonLabel:active {
  background-color: yellow;
}

/* .crust {
  background-color: #744f19;
} */

.wrapper {
  overflow: hidden;
  position: relative;
}
