body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* display: none and color: transparent work too */

input {
  opacity: 0;
}

.buttonLabel {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 0 0 0;
}

.button {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-width: 30vw;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttonLabel:hover {
  background-color: purple;
}

.buttonLabel:active {
  background-color: yellow;
}
